body {
    font-family: "Segoe UI", Arial, sans-serif;
    color: #4a4a4a;
    background: linear-gradient(90deg, #f9e0eb 25%, #f8fcf8 50%, #f7d3e6 75%);
}

.container {
    text-align: center;
}

.decorative-band {
	margin: 5%;
    width: 90%;
    height: 60px;
    background: linear-gradient(90deg, #f7b1d4 10%, #f3c3dd 30%, #f6a6cb 90%);
}


h1 {
    text-align: center;
    color: #c05080;
    font-size: 2.5em;
    margin-top: 40px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px #ffffff;
}


.section {
    background-color: #ffffffdd;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(150, 50, 100, 0.15);
    border-left: 6px solid #e08fb0;
}


.section h2 {
    color: #e08fb0;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 15px;
}


.section img {
    display: absolute;
	width: 100%;
    border-radius: 10px;

}
